<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chatStyle.css' />
    <link href='http://fonts.googleapis.com/css?family=Warnes' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      $(function(){
        // check desktop notifications
        checkNotifications();

        var socket = new io.connect("/");

        socket.on("connect", function(){
          $("#title").text(socket.socket.transport.name + " chat");// 接続時に接続方式表示
        });

        socket.on("message", function(message){
          $("<li>").text(message).prependTo($("#messageArea ul"));// 受信メッセージをレンダリング
          // Desktop Notification
          checkNotifications();
          notification('websockets chat', message);
        });

        $("#submitButton").click(function(event){
          socket.emit("message", {message: $("#name").val() + " : " + $("#msg").val()});// 入力メッセージをサーバへ
        });
      });

      // check Desktop Notification
      function checkNotifications() {
        if (!window.webkitNotifications) return;
        if (window.webkitNotifications.checkPermission() != 0) {
          window.webkitNotifications.requestPermission();
        }
      };
      // Notification
      function notification(title, message) {
        if (window.webkitNotifications.checkPermission() == 0) {
          var nt = window.webkitNotifications.createNotification(null, title, message);
          nt.ondisplay = function() {
            setTimeout(function() { nt.cancel(); }, 5000);
          };
          nt.show();
        } else {
          window.webkitNotifications.requestPermission();
        }
      };
    </script>
  </head>
  <body>
    <div>
      <h1 id="title"></h1>
      <dl>
        <dd><input type="text" id="name" class="msgField" placeholder="your name"></dd>
        <dd><textarea id="msg" cols="100" class="msgField" placeholder="input message"></textarea></dd>
        <dd><button type="button" id="submitButton" class="css3button" />シェア</dd>
      </dl>
    </div>
    <hr />
    <div id="messageArea">
      <ul></ul>
    </div>
  </body>
</html>